<div class="screen screen-fonts">
  <div class="screen-title">Chromecast built-in Fonts 3</div>

  <h1 class='short-stack'>H1 - Short Stack</h1>
  <h2 class='short-stack'>H2 - Short Stack</h2>
  <h3 class='short-stack'>H3 - Short Stack</h3>
  <h4 class='short-stack'>H4 - Short Stack</h4>
  <h5 class='short-stack'>H5 - Short Stack</h5>
  <h6 class='short-stack'>H6 - Short Stack</h6>

  <h1 class='quin'>H1 - Quintessential</h1>
  <h2 class='quin'>H2 - Quintessential</h2>
  <h3 class='quin'>H3 - Quintessential</h3>
  <h4 class='quin'>H4 - Quintessential</h4>
  <h5 class='quin'>H5 - Quintessential</h5>
  <h6 class='quin'>H6 - Quintessential</h6>
</div>
