<div class="screen screen-fonts">
  <div class="screen-title">Chromecast built-in Fonts 1</div>

  <h1 class='droid-sans'>H1 - Droid Sans, sans-serif</h1>
  <h2 class='droid-sans'>H2 - Droid Sans, sans-serif</h2>
  <h3 class='droid-sans'>H3 - Droid Sans, sans-serif</h3>
  <h4 class='droid-sans'>H4 - Droid Sans, sans-serif</h4>
  <h5 class='droid-sans'>H5 - Droid Sans, sans-serif</h5>
  <h6 class='droid-sans'>H6 - Droid Sans, sans-serif</h6>

  <h1 class='droid-sans-mono'>H1 - Droid Sans Mono, monospace</h1>
  <h2 class='droid-sans-mono'>H2 - Droid Sans Mono, monospace</h2>
  <h3 class='droid-sans-mono'>H3 - Droid Sans Mono, monospace</h3>
  <h4 class='droid-sans-mono'>H4 - Droid Sans Mono, monospace</h4>
  <h5 class='droid-sans-mono'>H5 - Droid Sans Mono, monospace</h5>
  <h6 class='droid-sans-mono'>H6 - Droid Sans Mono, monospace</h6>
</div>
