<div class="screen screen-fonts">
  <div class="screen-title">Chromecast built-in Fonts 2</div>

  <h1 class='droid-serif'>H1 - Droid Serif Regular, serif</h1>
  <h2 class='droid-serif'>H2 - Droid Serif Regular, serif</h2>
  <h3 class='droid-serif'>H3 - Droid Serif Regular, serif</h3>
  <h4 class='droid-serif'>H4 - Droid Serif Regular, serif</h4>
  <h5 class='droid-serif'>H5 - Droid Serif Regular, serif</h5>
  <h6 class='droid-serif'>H6 - Droid Serif Regular, serif</h6>

  <h1 class='cutive-mono'>H1 - Cutive Mono</h1>
  <h2 class='cutive-mono'>H2 - Cutive Mono</h2>
  <h3 class='cutive-mono'>H3 - Cutive Mono</h3>
  <h4 class='cutive-mono'>H4 - Cutive Mono</h4>
  <h5 class='cutive-mono'>H5 - Cutive Mono</h5>
  <h6 class='cutive-mono'>H6 - Cutive Mono</h6>
</div>
